.navbar {
    padding: 0 !important;
}

.nav-link {
    padding: .5rem 1rem !important;
}

.nav-item:hover {
    border-bottom: 3px solid #ff0
}

.active {
    font-weight: 500;
    border-bottom: 3px solid #ff0;
}

.bg-primary-custom {
    background-color: transparent;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}
   
.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}
   
.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}