.navbar {
    padding: 0 !important;
}

.nav-link {
    padding: .5rem 1rem !important;
}

.nav-link:hover {
    color: white !important;
}

.nav-item:hover {
    border-bottom: 3px solid red;
}

.active {
    font-weight: 500;
    border-bottom: 3px solid red;
}

.bg-primary-custom {
    background-color: #000;
}

.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
}
   
.dropdown-toggle::after {
    transition: transform 0.15s linear; 
}
   
.show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
}

/*----------------------- Paskadema -----------------------*/
/* 
body {
    margin: 0;
}

header {
    display: flex;
    font-size: 16px;
    background-color: #9e0000;
}

.logo a {
    display: flex;
    margin: auto;
    font-size: 1.2rem;
}

.logo a img {
    margin: 5px 20px;
    height: 30px;
    width: 30px;
}

.logo a span {
    margin: auto;
    color: white;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav .nav-page {
    display: flex;
    margin: auto;
    position: absolute;
    right: 0;
}

.nav-page a {
    margin: auto;
    padding: 11px 20px;
    color: white;
}

.nav-page a:hover {
    color: yellow;
    background-color: red;
} */