*:focus {
    outline: none;
}

.img-female {
    width: 420px;
    height: 413px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: url(../images/female-paski.png);
    background-size: contain;
}

.home-title {
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
    z-index: 99;
}

.home-title .logo {
    width: 200px;
    height: 217px;
    background-image: url(../images/smkn-8-malang.png);

}

.landing-title span {
    z-index: 99;
    font-family: merienda;
    font-size: 4rem;
}

.landing-title p {
    font-size: 2rem;
}

.jumbotron {
    z-index: 5;
}