*:focus {
    outline: none;
}

.landing {
    background-color: #fff !important;
}

.img-logo {
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url(../images/logo.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.back-red {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    background-image: url(../images/svg/blob-shape.svg);
}

@media (max-width:576px) {
    .img-logo {
        margin: auto !important;
        width: 100px;
        height: 100px;
    }

    .landing-title {
        margin: 0 10 !important;
        color: #000 !important;
    }

    .landing-title h1 {
        font-size: 1.5rem;
    }

    .landing p {
        font-size: 0.8rem;
    }
}