.add-new {
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    color: #fff;
    background-color: #c50000;
    bottom: 15px;
    right: 15px;
    padding: 5px 14.375px;
    font-size: 30px;
}

.add-new:hover {
    background-color: red;
    box-shadow: 0px 0px 10px #bb1313;
    animation: rotate 0.5s ease;
}

@keyframes rotate {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

.border-paski {
    border-radius: 25px;
}

/*------------- Paski Colors -------------*/

.bg-paski-light {
    background-color: #f00 !important;
}

.bg-paski-dark {
    background-color: #8b0000 !important;
}

.bg-paski-dark:hover {
    background-color: #ff0000 !important;
}

/*------------- Profile Paski -------------*/

.profile-header {
    text-align: center;
    font-size: 1.1rem;
    font-family: cursive;
    font-weight: bold;
    color: #fff;
}

.profile-img {
    margin-bottom: 10px;
    width: 115px;
    height: 115px;
}

/*------------- Paski Button -------------*/

.btn-paski-view,
.btn-paski-edit,
.btn-paski-delete {
    color: #000;
}

.btn-paski-view:hover {
    color: #20b2aa;
}

.btn-paski-edit:hover {
    color: #ffc400;
}

.btn-paski-delete:hover {
    color: #ff0000;
}